/*Imported google fonts*/

/*main-font-style*/
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/*sub-font-style*/
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
/*workingout-grid font*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --main-theme-color:  #4d05f6;
    --sub-theme-color: #ffef08;
    --feature-color: deeppink;
    --main-font-style: "Orbitron", sans-serif;
    --sub-font-style: "Scope One", serif;
    --workingout-grid-font: "Libre Franklin", sans-serif;
    --buttons: #96ffe3;
    --calm-color: #ffffff; 

}