:root {
    --main-font-color:  #4d05f6;
    --main-font-style: "Sour Gummy", sans-serif;
    --sub-font-color: #ffef08;
    --sub-font-style: "Scope One", serif;
    --feauture-color: #eefae9;
    --feature2-color: deeppink;
    --calm-color: #fcfaf7; 
    --workingout-grid-font: "Ubuntu", sans-serif;
}