/*Imported google fonts*/

/*main-font-style*/
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/*sub-font-style*/
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

:root {
    --main-font-color:  #4d05f6;
    --main-font-style: "Sour Gummy", sans-serif;
    --sub-font-color: #ffef08;
    --sub-font-style: "Scope One", serif;
    --feauture-color: #eefae9;
    --calm-color: #fcfaf7; 
}

html, body {
    height: 100vh;
    max-height: 100%;
    background: linear-gradient(to bottom,
    
            rgb(183, 248, 198) 19%, 
        #a871d8 43%, 
        #e99105 60%,   
        #190649 90%   
      ) !important;
      background-blend-mode: overlay;
      font-family: var(--main-font-style) !important;
}


h1 {
    color: var(--main-font-color) !important;
    font-family: var(--main-font-style);
    letter-spacing: 0.5em;
   
}

h2 {
    color: var(--sub-font-color) !important;
    font-family: var(--sub-font-style);
    text-transform: lowercase;
}

/*Console area styling*/
#console-play {
    color: var(--sub-font-color);
    font-size: 45px;
}

#console-play:hover {
    color: var(--main-font-color);
  }


/*Timer area styling*/
#timer-area {
    border-radius: 25px;
    height: 260px;
    font-size: x-large;
    padding: 60px;
    visibility: hidden;
}

/*Difficulty area styling*/
.difficulty-btn {
    border-radius: 15px;
    height: 75px;
    font-size: larger;
}


#difficulty-btn-area {
    visibility: hidden;
}

/*Controller area styling*/
#controllers-area {
    height: 200px;
}

/*Navigation styling*/
nav img {
    height: 80px;
}

.nav-link {
    color: var(--main-font-color) !important;
  
}

/*Footer Styling*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
}

.footer-icons {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding: 1rem;
}

footer a i {
    text-decoration: none;
    color: var(--main-font-color);
}

footer a i:hover {
color: var(--sub-font-color);
}


/*Other styling*/
.console-styling {
    background-color: #ffef08;
    
}

.controller-btn-styling {
    background-color: var(--sub-font-color);
    border-radius: 15px;
    height: 50px;
    font-size: medium;
    border: 1px solid var(--calm-color) !important;
}

.target-div-styling {
    background-color: deeppink;
}

.feature {
    background-color: var(--feauture-color); 
    border: 2px solid var(--calm-color);
    color: var(--main-font-color);
  
}


    .generated-number {
        display: inline-block;
        margin: 0 10px;
        font-size: 2rem;
        font-weight: bold;
      
}


#console-play {
    display: none;
}
