
html, body {
    min-height: 100vh; /* Body can grow with content */
    margin: 0;
    display: flex;
    flex-direction: column;

    background: linear-gradient(to bottom,
        #feddfc 0%, 
        #1717f6 23%, 
        #f40590 63%,   
        #67dcf0 100%
    ) no-repeat !important;
    
    background-size: 100% auto; /* Allow the gradient to scale naturally */
    font-family: var(--main-font-style) !important;
}


/*Increases the main content size to ensure the footer stays at the bottom of the page*/
main {
    flex: 1;
}

h1 {
    color: var(--sub-theme-color) !important;
    font-family: var(--main-font-style);
    font-size: 45px;
    text-align: center;
    letter-spacing: 1px; 
    margin-bottom: 10px;
}

h2 {
    color: var(--sub-theme-color) !important;
    font-family: var(--sub-theme-style);
    text-transform: capitalize;
    font-size: 22px;
    text-align: center;
   
}

/*Console styling*/
.console-styling {
    background: var(--calm-color);   
    font-style: var(--main-font-style);
    color: var(--main-theme-color);
    border-radius: 10px;
    height: 100px;
    padding: 15px;
    font-size: 1.5vw;
}


#console-play {
    color: var(--sub-theme-color);
    font-size: 85px;
} 

#console-play:hover {
    color: lime;
  }

/*Timer area styling*/
#timer {
    background-color: var(--calm-color);
    border: 1px solid var(--main-theme-color);
    border-radius: 10px;
    height: 100px;
    font-size: 1.5rem;
    padding: 10px;
    display: none;padding-top: 10px
   
}

#timer-digits, #timer-title {
    color: var(--main-theme-color);
}


/*Difficulty area styling*/
#difficulty-btn-area {
    display: none;
}

.difficulty-btn {
    background-color: var(--calm-color);
    color: var(--main-theme-color);
    border: 1px solid var(--main-theme-color);
    border-radius: 10px;
    height: 100px;
    font-size: 2vw;
    width: 33%;
    padding: 0;
    width: 33%;
}

.active {
    background: var(--sub-theme-color);
}


/*Controller Area styling*/
#controllers-area {
    margin-top: 5px;
    height: 30px;
}

.controller-btn-styling {
    background-color: var(--sub-theme-color);
    color: var( --main-theme-color);
    border-radius: 15px;
    border: 1px solid var(--calm-color) !important;
    height: 50px;
    width: auto;
    padding: 2px 25px;
    margin-top: 5px;
    font-size: medium;
   
}

.controller-btn-styling:hover {
    background-color: var(--calm-color);
    color: var(--main-theme-color);
}



/*Navigation styling*/
nav img {
    height: 80px;
  
}

.nav-link {
    color: var(--main-font-color) !important;
    font-size: 18px;
    margin-right: 15px;    
}

/*Footer Styling*/
footer {
    position: relative;
    margin-top: 50px;
    padding-top: 10px;
}

.footer-icons {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding: 1rem;
}

footer a i {
    text-decoration: none;
    color: var(--main-font-color);
}

footer a i:hover {
color: var(--sub-theme-color);
}

/*Other Styling*/
.target-div-styling {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: var( --main-font-style);
    border-radius: 10px;
    color: var(--feature-color);
  
  
  
}

.feature {
    background-color: var(--sub-theme-color); 
    border: 2px solid var(--calm-color);
    color: var(--main-theme-color); 
}

.generated-number {
        display: inline-block;
        margin: 5px 10px 2px 10px;
        font-size: 1.5em;
        font-weight: bold;

        color: var(--main-theme-color);
        
       
}

#rotate-warning {
    color: white;
    margin-top: 50px;
    display: flex;
}

#rotate-warning.hidden {
    display: none;
}

.hidden {
    display: none;
}


@media only screen and (max-width: 1023) {
    .landing-text {
        font-size: 50px !important;  
    }
    #console-play {
        font-size: 90px !important;  
    }
    h2 {
        margin-bottom: 10px !important;
    } 
}

@media only screen and (min-width: 1024px) {
    .landing-text {
        font-size: 60px !important;  
    }
    #console-play {
        font-size: 150px !important;  
    }
    h2 {
        margin-bottom: 70px !important;
        
    } 
}

@media only screen and (min-width: 1140px) {
    #timer, .difficulty-btn, .console-styling {
        height: 130px !important;
        
    }
    #timer {
        font-size: 2rem;
    } 
}

@media only screen and (min-width: 1440px) {
    .landing-text {
         font-size: 70px !important;  
     }
     #console-play {
         font-size: 170px !important;
         
     }
    
 }

@media only screen and (min-width: 2560px) {
   .landing-text {
        font-size: 80px !important;  
    }
    #console-play {
        font-size: 200px !important;
    }
    h2 {
        margin-bottom: 100px !important;
    }
}