
#working-grid-1 {
    margin-top: 5px;
    border-radius: 10px;
    display: none;
    
}

#working-grid-2 {
    margin-top: 50px;
    display: block;
}

.workingGrid {
    display: flex;
    justify-content: center;
}

input.equation-input {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid var(--calm-color);
    background-color: rgb(255, 255, 255);
}

equation-input::placeholder {
    columns: var(--main-theme-color);
}

.keypad-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    width: 100%;
    border-style: none;
}

.keypad-btn {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--calm-color);
    color: var(--main-theme-color);
    font-family: var(--workingout-grid-font);
    border-radius: 5px;
    border: 2px solid var(--calm-color);
    
}

.keypad-btn:hover {
    background-color: #eefae9;
}



.expression {
    font-family: var(--workingout-font-style);
    outline: none;
    padding: 0.3rem;
    min-height: 24px;
   
}

.output-styling {
    font-size: 42px;
    color: rgb(16, 16, 16) !important;
}


.output-div-styling {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px; /* Adds space between items */
    font-size: 22px;
    font-family: var(--main-font-style);
    text-align: end;  
    background-color: var(--sub-theme-color) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.undo-btn {
    margin-left: 10px;
    background-color: var(--sub-theme-color);
    color: var(--main-theme-color);
    border-radius: 10px;
    border: 2px solid var(--calm-color);
}

.undo-btn:hover {
background-color: var(--calm-color);
}



